@model IEnumerable<Domain.Domain.Food_items>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu for  </h1>
 
<p>
    @* <a asp-controller="Food_items" asp-action="Create">Add new Food</a>*@
</p>
<div class="row justify-content-center">
    
        @foreach (var item in Model)
        {
<div class="col-8">
    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-3">
                <img src="@item.Image" class="img-fluid rounded-start" alt="..." style="height:12rem;width:12rem">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title ">@item.Name</h5>
                    <p class="card-text">@item.Ingredients</p>
                        <p class="fw-bold text-success">@item.Price Ден.</p>
                    
                </div>
            </div>
            <div class="col-3 d-flex d-flex align-items-center justify-content-center">
                <a asp-action="Add_to_cart" asp-route-id="@item.Id" asp-route-retaurantid="@item.RestaurantId" class="btn btn-success btn-lg">Add to cart</a>

                
            </div>
        </div>
    </div>

        </div>
    }
</div>
