﻿@using Microsoft.Extensions.Options
@model Domain.DTO.ShoppingCartDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@* <p>
    <a class="btn btn-success" asp-action="Order">Order Now</a>
   
</p> *@

@if (Model.TotalPrice > 0)
{
    
}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                                    <h6 class="mb-0 text-muted">@Model.Products.Count() items</h6>
                                </div>
                                <hr class="my-4">

                                @foreach (var item in Model.Products)
                                {


                                    @* for from here *@
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-2">
                                            <img src="@item.Food_Items.Image"
                                            class="img-fluid rounded-3" style="width:7rem; height:7rem" alt="...">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="">@item.Food_Items.Name</h6>
                                            

                                        </div>
                                        <div class="col-3">



                                            <p>Quantity: @item.Quantity</p>
                                            <h6 class="mb-0">Price: @item.Food_Items.Price Ден.</h6>


                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-danger" asp-action="DeleteFromShoppingCart" asp-route-Id="@item.Food_Items.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                            </a>
                                        </div>
                                       
                                    </div>

                                    <hr class="my-4">
                                    @* to here *@


                                }



                            </div>
                        </div>


                        <div class="col-lg-4 bg-body-tertiary">
                            <div class="p-5">
                                <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                <hr class="my-4">

                                <div class="d-flex justify-content-between mb-5">
                                    <h5 class="text-uppercase">Total price</h5>
                                    <h5>€ 137.00</h5>
                                </div>

                               

                                

                                <hr class="my-4">

                               
                                <form asp-controller="ShoppingCarts" asp-action="Order" method="post">
                                    <button class="btn btn-success btn-lg">Order</button>
                                </form>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
